:root {
    --black: #333333;
    --white: #f7f7f7;
}
body {
    background-color: var(--white);
}

/* Fonts used */
.aktiv-grotesk-thin {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: var(--black);
}

.aktiv-grotesk-regular {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--black);
}

.aktiv-grotesk-medium {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--black);
}

.aktiv-grotesk-bold {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--black);
}


/* Default border class */
.border {
    border: 1px solid black;
}

nav {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

nav img {
    width: 25px;
    opacity: 80%;
    cursor: pointer;
}

nav img:hover {
    opacity: 50%;
}

.city {
    position: relative;
    top: 25px;
    font-size: 30px;
}

.date {
    font-size: 15px;
    text-align: center;
}

.weather-container {
    display: grid;
    grid-template: 2fr 1fr / 1fr 1fr;
    height: 150px;
    width: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 5px 5px #33333325;
    border: 2px solid #3333330e;
    padding: 20px;
}

.temp {
    font-size: 70px;
}

.weather {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.icon {
    width: 60px;
    margin-left: auto;
    opacity: 80%;
}

@media screen and (max-width: 490px) {
    nav {
        padding: 0px 40px; 
    }

    nav img {
        width: 20px;
    }

    .city {
        position: relative;
        top: 35px;
        font-size: 16px;
    }

    .date {
        font-size: 10px;
    }

    .weather-container {
        height: 150px;
        width: 86%;
    }
}