/* Constantly used colors */
:root {
    --black: #333333;
    --white: #f7f7f7;
}
/* Body background color */
body {
    background-color: var(--white);
}

/* Fonts used */
.aktiv-grotesk-thin {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: var(--black);
}

.aktiv-grotesk-regular {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--black);
}

.aktiv-grotesk-medium {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--black);
}

.aktiv-grotesk-bold {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--black);
}


/* Default border class */
.border {
    border: 1px solid black;
}

/* The general styling for the navigation */
nav {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

/* Styling of the images inside the nav */
nav img {
    width: 25px;
    opacity: 80%;
    cursor: pointer;
}

nav img:hover {
    opacity: 50%;
}

/* Positioning of the location */
.city {
    position: relative;
    top: 25px;
    font-size: 30px;
}

.date {
    font-size: 15px;
    text-align: center;
}

/* The grid layout for the main section */
.weather-container {
    display: grid;
    grid-template: 2fr 1fr / 1fr 1fr;
    width: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 5px 5px #3333330e;
    border: 2px solid #3333330e;
    padding: 20px;
}

.temp {
    font-size: 70px;
}

/* Flex layout for content inside the main grid */
.weather {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 15px;
}

.icon {
    width: 60px;
    margin-left: auto;
    opacity: 80%;
}

/* Layout of the statistics below the main weather section */
.stats {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    width: 300px;
    height: 100px;
    display: grid;
    grid-template: repeat(3, 1fr) / 3fr 1fr;
}

/* Dimensions of the search and save section */
.search-section,
 .save-section {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    z-index: 10000;
    display: none;
}

/* The positioning of the history list */
.location-list {
    height: 500px;
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The styling of the specific items inside the section */
.loca {
    background-color: rgba(220, 220, 220, 0.267);
    border-radius: 5px;
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 15px;
    cursor: pointer;
}

/* Styling of the cross section */
.cross {
    position: absolute;
    right: 105px;
    top: 50px;
    width: 23px;
    opacity: 80%;
    cursor: pointer;
}

.cross:hover {
    opacity: 50%;
}

/* Styling of the mini form for searching */
.search-form {
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    margin-top: 200px;
    display: grid;
    row-gap: 5px;
    justify-content: center;
}


.search-form input {
    border: none;
    border-radius: 10px;
}

.search-input {
    padding: 0px 10px;
    text-align: center;
}

/* Styling of search button */
.search-button {
    width: 80px;
    height: 50px;
    margin: auto;
    font-size: 15px;
}

.carousel-container {
    position: relative;
    margin-top: 30px;
}


.first-set {
    height: 150px;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template: 100% / 1fr 1fr;
    column-gap: 20px;
    font-size: 11px;
    text-align: center;
}

.forecast-header {
    margin-top: 18px;
    opacity: 90%;
}

.forecast-image {
    width: 40px;
    opacity: 80%;
    margin-bottom: 5px;
}

.card-one,
 .card-two {
     border-radius: 10px;
 }

 .weather-display {
     font-size: 12px;
 }


 /* Screen changes for mobile */
@media screen and (max-width: 490px) {
    nav {
        padding: 0px 40px; 
    }

    nav img {
        width: 20px;
    }

    .city {
        position: relative;
        top: 35px;
        font-size: 16px;
    }

    .date {
        font-size: 10px;
    }

    .weather-container {
        height: 150px;
        width: 86%;
    }

    .stats {
        width: 70%;
        font-size: 11px;
    }

    .cross {
        right: 40px;
        width: 18px;
    }

    .first-set {
        width: 80%;
    }
}