/* Default border class */

.border {
    border: 1px solid black;
}

nav {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

nav img {
    width: 25px;
    opacity: 80%;
    cursor: pointer;
}

nav img:hover {
    opacity: 50%;
}

@media screen and (max-width: 490px) {
    nav {
        padding: 0px 40px; 
    }
}